<section
  id="profile"
  class="padding-x-3 min-h-screen justify-center bg-gray-100 flex py-10 select-none"
>
  <ul
    class="bg-gray-50 flex flex-col gap-5 px-5 py-2 rounded-l-md border-r-2 shadow-md"
  >
    <ng-container *ngFor="let item of nav">
      <li
        class="cursor-pointer flex gap-2 items-center"
        (click)="onTabChange(item.text)"
      >
        <fa-icon
          [icon]="item.icon"
          [class.text-blue-500]="selectedTab === item.text"
        ></fa-icon>
        <p
          class="font-semibold hover:text-blue-400 transition duration-150 hidden lg:block"
          [class.text-blue-500]="selectedTab === item.text"
        >
          {{ item.text }}
        </p>
      </li>
    </ng-container>
  </ul>
  <div class="bg-white flex-1 rounded-r-md shadow-md max-w-[1920px]">
    <app-user-recipes *ngIf="selectedTab === 'My Recipes'"></app-user-recipes>
    <app-user-fav *ngIf="selectedTab === 'Favorites'"></app-user-fav>
    <app-user-reviews *ngIf="selectedTab === 'My Reviews'"></app-user-reviews>
  </div>
</section>
