<section
  id="hero"
  class="flex pt-[1rem] md:pt-[4rem] flex-col md:flex-row items-center justify-center"
>
  <div
    class="relative w-full md:w-[500px] xl:w-[700px] h-[300px] sm:h-[400px] max-w-5xl"
  >
    <ng-container *ngFor="let image of images; let i = index">
      <img
        [src]="image"
        alt="placeholder"
        class="select-none md:rounded-tl-[10rem] md:rounded-bl-md w-full h-full object-cover object-bottom shadow-md absolute transition-opacity duration-[1500ms]"
        [class.opacity-100]="i === currentImageIndex"
        [class.opacity-0]="i !== currentImageIndex"
      />
    </ng-container>
    <div
      class="absolute bottom-0 left-0 right-0 flex justify-center space-x-2 p-2"
    >
      <ng-container *ngFor="let image of images; let i = index">
        <div
          class="w-2 h-2 rounded-full cursor-pointer"
          [ngClass]="{
            'bg-white': i !== currentImageIndex,
            'bg-orange-500': i === currentImageIndex
          }"
          (click)="currentImageIndex = i"
        ></div>
      </ng-container>
    </div>
  </div>
  <div
    class="max-w-5xl flex w-full h-full md:h-[400px] md:w-[500px] flex-auto xl:flex-1 flex-col bg-white p-5 md:rounded-tr-md md:rounded-br-[10rem] shadow-md md:justify-between"
  >
    <span>
      <h1 class="text-3xl xl:text-5xl font-bold">Recipe Book</h1>
      <p class="text-lg xl:text-2xl py-5">
        Dive into our diverse recipe collection from around the globe. Find new
        favorites or classic comforts, and contribute your own culinary
        creations to our growing community.
      </p>
    </span>
    <div
      class="flex items-center justify-start gap-3 lg:gap-10 flex-col md:flex-row"
    >
      <button
        class="bg-white shadow-md p-3 rounded-md uppercase font-semibold text-blue-500 hover:bg-blue-500 duration-300 ease-in-out hover:text-white"
        routerLink="/recipes"
      >
        explore
      </button>
      <button
        class="bg-white shadow-md p-3 rounded-md uppercase font-semibold text-orange-500 hover:bg-orange-500 duration-300 ease-in-out hover:text-white"
        routerLink="/profile"
      >
        contribute
      </button>
    </div>
  </div>
</section>
