<li
  class="bg-white shadow-md rounded-md p-2 md:p-3 flex flex-col justify-between h-full relative cursor-pointer hover:bg-gray-50 transition duration-150"
  (click)="navigateToRecipeDetails()"
>
  <fa-icon
    [icon]="faHeart"
    class="absolute top-1 right-2 text-2xl cursor-pointer hover:text-red-500 transition duration-150"
    [class.text-gray-300]="!checkIfFav()"
    [class.text-red-500]="checkIfFav()"
    (click)="$event.stopPropagation(); addToFavorites()"
  />
  <p class="text-start truncate font-bold text-xl mr-5">
    {{ recipe.strMeal }}
  </p>
  <div class="pb-2">
    <span *ngFor="let star of stars; index as i">
      <fa-icon
        [icon]="faStar"
        [ngStyle]="{ color: getStarColor(i, 4) }"
      ></fa-icon>
    </span>
  </div>
  <div>
    <img [src]="recipe.strMealThumb" class="rounded-md object-contain w-full" />

    <!-- <span class="flex items-center text-white flex-wrap gap-1">
      <p class="bg-blue-500 px-2 rounded-md">{{ recipe.strArea }}</p>
      <p class="bg-orange-500 px-2 rounded-md">{{ recipe.strCategory }}</p>
    </span> -->
  </div>
</li>
