<section class="flex flex-col gap-5">
  <h1 class="text-2xl font-bold text-center pb-5">Reviews</h1>

  <!-- Rate Stats -->
  <ul class="flex gap-10 flex-col md:flex-row items-center justify-center">
    <li class="flex flex-col">
      <p class="text-5xl font-semibold">4.10</p>
      <div class="w-[6rem]">
        <fa-icon
          [icon]="faStar"
          *ngFor="let star of stars; index as i"
          class="text-yellow-400"
        ></fa-icon>
      </div>
      <p>{{ totalReviews }}reviews</p>
    </li>
    <li class="flex flex-col-reverse items-center gap-2 w-full lg:w-[40rem]">
      <div
        *ngFor="let review of reviews; index as i"
        class="flex w-full items-center"
      >
        <p class="font-semibold w-5">{{ i + 1 }}</p>
        <div class="w-full relative">
          <div class="bg-gray-200 w-full py-2 absolute -top-2 rounded-md"></div>
          <div
            class="bg-blue-500 py-2 absolute -top-2 rounded-md"
            [ngStyle]="{ width: calculatePercentage(review) + '%' }"
          ></div>
        </div>
        <p class="font-semibold ml-2 w-5">{{ reviews[i] }}</p>
      </div>
    </li>
  </ul>

  <!-- Toggle form -->
  <div class="w-full flex justify-center my-10">
    <button
      class="bg-blue-500 rounded-md w-52 py-2 text-white font-bold uppercase hover:bg-blue-400 transition duration-150"
    >
      Create Review
    </button>
  </div>

  <!-- New Review Form -->
  <form class="hidden">
    <input type="text" placeholder="Review..." />
    <button type="submit">Submit</button>
  </form>

  <!-- Review List -->
  <ul class="flex flex-col gap-5">
    <!-- Sample Review -->
    <li class="flex gap-5">
      <div class="bg-gray-300 w-14 h-14 rounded-md"></div>
      <div class="flex flex-col bg-white px-3 py-1 rounded-md w-full relative">
        <fa-icon
          [icon]="faPlay"
          class="absolute top-0 -left-2 rotate-180 text-white"
        ></fa-icon>
        <span class="flex gap-3">
          <p class="font-semibold">Guest</p>
          <p class="text-gray-400">24.06.2024</p>
        </span>
        <div class="w-[8rem]">
          <fa-icon
            [icon]="faStar"
            *ngFor="let star of stars; index as i"
            class="text-yellow-400 text-xl"
          ></fa-icon>
        </div>
        <p class="p-2">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
    </li>
  </ul>
</section>
