<section class="flex flex-col gap-5">
  <h1 class="text-2xl font-bold text-center lg:text-start pb-5">Reviews</h1>

  <!-- Rate Stats -->
  <ul class="flex w-full gap-10 items-center justify-center">
    <li class="flex flex-col">
      <p class="text-5xl font-semibold">4.10</p>
      <div class="w-[6rem]">
        <fa-icon
          [icon]="faStar"
          *ngFor="let star of stars; index as i"
          class="text-yellow-400"
        ></fa-icon>
      </div>
      <p>100 reviews</p>
    </li>
    <li class="flex flex-col-reverse w-full items-center gap-2">
      <div
        *ngFor="let star of stars; index as i"
        class="flex w-full items-center"
      >
        <p class="font-semibold w-5">{{ i + 1 }}</p>
        <div class="w-1/2 relative">
          <div class="bg-gray-200 w-full py-2 absolute -top-2 rounded-md"></div>
          <div
            class="bg-blue-500 py-2 absolute -top-2 rounded-md"
            [ngStyle]="{ width: i + 5 + 'rem' }"
          ></div>
        </div>
      </div>
    </li>
  </ul>

  <!-- Toggle form -->
  <div class="w-full flex justify-center my-10">
    <button
      class="bg-blue-500 rounded-md w-52 py-2 text-white font-bold uppercase hover:bg-blue-400 transition duration-150"
    >
      Create Review
    </button>
  </div>

  <!-- New Review Form -->
  <form class="hidden">
    <input type="text" placeholder="Review..." />
    <button type="submit">Submit</button>
  </form>

  <!-- Review List -->
  <ul class="bg-red-200">
    <li class="flex gap-5">
      <p>Date</p>
      <p>Stars</p>
      <p>Guest</p>
      <p>UserIcon</p>
      <p>review</p>
    </li>
  </ul>
</section>
