<section id="user-favorites" class="pt-2">
  <span
    class="flex flex-col lg:flex-row items-center justify-between gap-10 pb-5 px-5"
  >
    <h1 class="font-bold text-3xl">Favorites</h1>
    <input
      #searchInput
      placeholder="Search favourites"
      type="text"
      class="bg-gray-200 rounded-full w-full lg:w-[25rem] px-5 py-2"
      (input)="filterFavorites()"
    />
  </span>

  <ul
    class="grid max-h-screen grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 auto-rows-auto px-5 gap-5 select-none overflow-y-auto pb-5"
  >
    <ng-container *ngFor="let recipe of filteredFavorites">
      <li
        class="flex max-h-[8rem] gap-2 bg-gray-100 p-3 relative rounded-md shadow-md cursor-pointer transition duration-150 hover:shadow-lg"
        (click)="navigateToRecipeDetails(recipe)"
      >
        <fa-icon
          [icon]="faHeart"
          class="text-red-500 absolute text-2xl top-1 right-2 hover:text-red-300 cursor-pointer transition duration-150"
          (click)="$event.stopPropagation(); removeFromFavorites(recipe)"
        ></fa-icon>
        <img
          *ngIf="recipe.strMealThumb"
          [src]="recipe.strMealThumb"
          class="w-20 h-20 object-cover rounded-md"
        />
        <div
          *ngIf="!recipe.strMealThumb"
          class="w-20 h-20 bg-gray-200 rounded-md flex items-center justify-center shadow-md"
        >
          <fa-icon [icon]="faShrimp" class="text-gray-300 text-5xl"></fa-icon>
        </div>
        <p class="font-semibold line-clamp-2 text-base lg:text-xl pr-10">
          {{ recipe.strMeal }}
        </p>
      </li>
    </ng-container>
  </ul>
</section>
