<section id="user-favorites" class="pt-2">
  <h1 class="font-bold px-5 text-3xl pb-5">Favorites</h1>
  <ul
    class="grid h-screen grid-cols-3 px-5 gap-5 select-none overflow-y-scroll pb-5"
  >
    <ng-container *ngFor="let recipe of getFavorites()">
      <li
        class="flex gap-2 bg-gray-100 p-3 relative rounded-md shadow-md cursor-pointer transition duration-150 hover:shadow-lg"
        (click)="navigateToRecipeDetails(recipe)"
      >
        <fa-icon
          [icon]="faHeart"
          class="text-red-500 absolute text-2xl top-1 right-2 hover:text-red-300 cursor-pointer transition duration-150"
          (click)="removeFromFavorites(recipe)"
        ></fa-icon>
        <img
          [src]="recipe.strMealThumb"
          class="w-20 h-20 object-cover rounded-md"
        />
        <p class="font-semibold flex-wrap text-xl pr-20">
          {{ recipe.strMeal }}
        </p>
      </li>
    </ng-container>
  </ul>
</section>
