<section id="user-recipes" class="px-5 pb-5 pt-2 relative">
  <span class="flex justify-between items-center pb-5">
    <h1 class="font-bold text-3xl">Your Recipes</h1>
    <button
      class="bg-blue-500 px-2 py-1 rounded-md text-white font-semibold hover:bg-blue-400 transition duration-150"
      (click)="updateToggleForm()"
    >
      {{ !toggleForm ? 'Create Recipe' : 'Cancel' }}
    </button>
  </span>

  <!-- Form -->
  <form
    class="bg-gray-200 gap-5 p-2 w-full grid grid-cols-3"
    [class.hidden]="!toggleForm"
    [class.visible]="toggleForm"
    [formGroup]="formGroup"
    (ngSubmit)="submitForm()"
  >
    <!-- Meal Image -->
    <div class="row-span-2">
      <img
        src="https://placehold.co/600x400"
        alt="Meal Image"
        class="w-full rounded-md"
      />
      <input type="file" />
    </div>

    <!-- Meal Name -->
    <div class="flex flex-col gap-2">
      <label for="meal" class=""
        ><span class="text-red-500">*</span>Meal Name:</label
      >
      <input
        required
        id="meal"
        type="text"
        formControlName="strMeal"
        class="px-2 py-1 rounded-md focus:outline-none"
        placeholder="Meal Name"
      />
      <!-- Category/Area select -->
      <div class="flex gap-5">
        <div class="gap-2 flex items-center">
          <label for="category">Category</label>
          <select
            id="category"
            formControlName="strCategory"
            class="px-2 py-1 rounded-md focus:outline-none"
          >
            <option value="">None</option>
            <option
              *ngFor="let category of categories"
              [value]="category.strCategory"
            >
              {{ category.strCategory }}
            </option>
          </select>
        </div>
        <div class="gap-2 flex items-center">
          <label for="area">Area</label>
          <select
            id="area"
            formControlName="strArea"
            class="px-2 py-1 rounded-md focus:outline-none"
          >
            <option value="">None</option>
            <option *ngFor="let area of areas" [value]="area.strArea">
              {{ area.strArea }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <!-- Ingredients field -->
    <div class="flex row-span-2 flex-col gap-2">
      <label>Ingredients:</label>
      <div
        *ngFor="let i of [].constructor(ingredientCount); let index = index"
        class="flex gap-2"
      >
        <input
          [id]="'ingredient' + (index + 1)"
          type="text"
          [placeholder]="'Ingredient ' + (index + 1)"
          [formControlName]="'strIngredient' + (index + 1)"
          class="px-2 py-1 w-full rounded-md focus:outline-none"
        />
        <input
          [id]="'measure' + (index + 1)"
          type="text"
          [placeholder]="'Measure ' + (index + 1)"
          [formControlName]="'strMeasure' + (index + 1)"
          class="px-2 py-1 w-full rounded-md focus:outline-none"
        />
        <div
          class="text-center w-10 flex text-xl items-center hover:text-red-500"
        >
          <fa-icon
            [icon]="faXmark"
            class="cursor-pointer"
            (click)="removeIngredient(index)"
          ></fa-icon>
        </div>
      </div>
      <button
        *ngIf="ingredientCount < 20"
        class="bg-blue-500 p-1 text-white rounded-md"
        (click)="addIngredient()"
      >
        Add Ingredient
      </button>
    </div>

    <!-- Instruction -->
    <div class="flex flex-col col-start-2 col-span-1 min-h-[15rem]">
      <label for="instructions">Instructions</label>
      <textarea
        id="instructions"
        class="w-full h-full p-2 resize-y"
        type="text"
        formControlName="strInstructions"
      ></textarea>
    </div>
    <div>
      <button>Cancel</button>
      <button (click)="submitForm()">Create</button>
    </div>
  </form>
</section>
