<section id="user-recipes" class="px-5 pb-5 pt-2 relative">
  <span class="flex justify-between items-center pb-5">
    <h1 class="font-bold text-3xl">My Recipes</h1>
    <button
      class="bg-blue-500 px-2 py-1 rounded-md text-white font-semibold hover:bg-blue-400 transition duration-150"
      [class.bg-red-500]="toggleForm"
      [class.hover:bg-red-400]="toggleForm"
      [class.bg-blue-500]="!toggleForm"
      (click)="updateToggleForm()"
    >
      {{ !toggleForm ? 'Create Recipe' : 'Cancel' }}
    </button>
  </span>

  <!-- Form -->
  <app-recipe-form
    *ngIf="toggleForm"
    [formGroup]="formGroup"
    [updateToggleForm]="updateToggleForm.bind(this)"
  >
    > ></app-recipe-form
  >

  <!-- recipes -->
  <ul class="grid grid-cols-4 gap-5">
    <li *ngFor="let recipe of getRecipes()" class="rounded-md">
      <div class="relative">
        <img
          *ngIf="recipe.strMealThumb"
          [src]="recipe.strMealThumb"
          class="rounded-md w-full h-[200px] object-cover"
        />
        <div
          *ngIf="!recipe.strMealThumb"
          class="w-full h-[200px] bg-gray-200 rounded-md flex items-center justify-center shadow-md"
        >
          <fa-icon [icon]="faShrimp" class="text-gray-300 text-5xl"></fa-icon>
        </div>
        <fa-icon
          class="cursor-pointer text-red-400 hover:text-red-500 transition duration-150 absolute bottom-1 right-2"
          [icon]="faTrash"
          (click)="removeRecipe(recipe.idMeal)"
        ></fa-icon>
      </div>
      <p class="truncate">{{ recipe.strMeal }}</p>
    </li>
  </ul>
</section>
